<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Story</title>
</head>
<body>
<h1>GPT를 사용한 소설 생성 웹 애플리케이션</h1>
<form id="storyForm" th:action="@{/generateStory}" method="post">
    <label for="main">주인공:</label>
    <input type="text" id="main" name="main" required><br>

    <label for="sub1">등장인물 1:</label>
    <input type="text" id="sub1" name="sub1" required><br>

    <label for="sub2">등장인물 2:</label>
    <input type="text" id="sub2" name="sub2" required><br>

    <label for="background">배경(예-중세시대, 현대, 카페, 가정집 등):</label>
    <input type="text" id="background" name="background" required><br>

    <label for="setting">장르(예-공포, 로맨스, 엽기 등):</label>
    <input type="text" id="setting" name="setting" required><br>

    <button type="submit">생성하기</button>
</form>

<div id="storyContainer">
    <p th:text="${story}"></p>
    <form id="choiceForm" th:action="@{/select_choice}" method="post">
        <ul>
            <li th:each="choice : ${choices}">
                <label th:text="${choice}"></label>
                <input type="radio" th:name="choice" th:value="${choice}">
            </li>
        </ul>
        <button type="submit">선택하기</button>
    </form>
</div>
</body>
</html>
